.calculator {
	width: calc(64px * 4 + 36px);
	margin: 50px auto;
	border: 1px solid #ccc;
	border-radius: 25px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(4, 64px);
	gap: 12px;
}

.display:focus {
	outline: none;
}
